<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grondstofapps.bilatlas">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bilatlas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bilatlas_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.grondstofapps.bilatlas.IntroSlideActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.grondstofapps.bilatlas.SplashActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.grondstofapps.bilatlas.ArrivedActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.grondstofapps.bilatlas.SuccessfullyArrivedActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.grondstofapps.bilatlas.UniversalSlideActivity2" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.grondstofapps.bilatlas.UniversalSlideActivity3" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.grondstofapps.bilatlas.MapActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.grondstofapps.bilatlas.MainActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>